[Bb]in/
[Oo]bj/

Connection.config
*.dbmdl
.vs/
*.user
*.jfm

!External/**
!packages/**
!FingerprintLogin/TricomWebBridge/packages/**
!FingerprintLogin/PrintService/TricomJobScheduler/packages/**
Help/packages

FingerprintLogin/TricomWebBridge/TricomWebBridgeSetup/TricomWebBridgeSetup/Express/

Shared/DomainSilverlight/bin_/

Server/Services/GeneratedFiles/Help/*.pdf
Server/Services/GeneratedFiles/Help/*.docx
Server/Services/GeneratedFiles/Help/*.odt
Database/Tricommerce/Tricommerce.dbmdl
Database1/Database1.dbmdl
Server/Integration/Webservices/UserMDMService/bin/AWSSDK.Core.xml
Server/Integration/Webservices/UserMDMService/bin/AWSSDK.S3.xml
Test/Test.ServiceTest/Connection.config
Web/ClientBin/
*.suo
*.exe
/packages/CsvHelper.27.2.1
/packages/Microsoft.CSharp.4.3.0
/packages/System.Buffers.4.4.0
/packages/System.Memory.4.5.0
/packages/System.Runtime.CompilerServices.Unsafe.4.5.0
/packages/System.ValueTuple.4.3.0
!packages/WinSCP.6.3.5/tools/WinSCP.exe
